* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans";
  font-style: normal;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px;
  background: rgb(255, 208, 224);
}

ul {
  display: flex;
  list-style: none;
  width: 25%;
  justify-content: space-between;
  background: lightyellow;
}

main {
  width: 2000px;
  margin: auto;
  text-align: center;
  background: rgb(207, 242, 253);
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-item {
  margin-top: 50px;
  margin-bottom: 50px;
}

main {
  width: 2000;
  height: 2000;
}

footer {
  height: 75px;
  width: 100%;
  margin: auto;
  text-align: center;
  background: rgb(255, 208, 224);
}
